section.repository-list{
    width: 25%;
    margin: 0 auto;
    border: 1px solid;
    padding: 20px;
    margin-top: 2rem;
    background: #121214;
    border-radius: 15px;

    h1 {
        margin-bottom: 16px;
    }
    ul {
        list-style: none;
        
        li {
            & + li {
                margin-top: 20px;
            }

            p {
                font-size: 14px;
                margin-top: 8px;
            }

            a {
                display: inline-block;
                margin-top: 16px;
                text-decoration: none;
                color: #8257e6;
                border: 1px solid #8257e6;
                padding: 10px;
                width: 100%;
                text-align: center;
            }
        }
    }
}
    // .repository-list
    //     margin: 40px

    // h1
    //     margin-bottom: 16px

    // ul
    //     list-style: none
    //     li
    //         & * li
    //             margin-top: 20px 
            